<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>KYC Management System</title>
<link rel="stylesheet" href="../public/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="../public/css/style.css" type="text/css">
<link rel="stylesheet" href="../public/css/sweet-alert.css" type="text/css">
<script src='../public/js/web3.min.js'></script>
<script src="https://wzrd.in/standalone/buffer"></script>
<script src="https://cdn.jsdelivr.net/npm/ipfs-http-client/dist/index.min.js" integrity="sha384-QLpfu4MN5a74pVNs5eOUULGU/41/GbJNYOH8t6JcIzrsdOJKM1dcsZ3jULT0tRc5" crossorigin="anonymous"></script>

  <script>


	
window.addEventListener('load', async () => {
    if (window.ethereum) {
        window.web3 = new Web3(ethereum);
        try {
            await ethereum.enable();
			
        } catch (error) {
            window.alert("User denied account access...");
        }
    }
    else if (window.web3) {
        window.web3 = new Web3(web3.currentProvider);
		
    }
    else {
        window.alert('Non-Ethereum browser detected. You should consider trying MetaMask!');
	}

	UserAddress=await web3.eth.getCoinbase();
	document.getElementById("address").value=UserAddress;

	
	
});


async function AddUserDL(dlHash)
{
	ABIJSON = JSON.parse('<%-JSON.stringify(abi)%>');
	MyContract = new web3.eth.Contract(ABIJSON,"<%=ContractAddress%>");

	var DL_No = document.getElementById("txtLicenceNo").value;
	var DL_Name = document.getElementById("txtFullName").value;
	var DL_DOB = document.getElementById("txtDOB").value;
	var DL_Address = document.getElementById("txtAddress").value;
	console.log("hey there");
	

	
	MyContract.methods.AddUserDL(UserAddress,DL_No,DL_Name,DL_DOB,DL_Hash,DL_Address).send({from:UserAddress},function(err, transactionHash) {
		if(!err)
		{
			location.href="/Message?TransHash="+transactionHash;
		}
		else
		{
			console.log(err)
		}
	});

}


async function getDLHash()
{    
    var fr,file;
	const reader = new FileReader();
	const invoicefile = document.getElementById("invoicefile");
	file=invoicefile.files[0]; // Read Provided File
	fr = new FileReader();
   fr.onloadend = receivedText();
    async function receivedText() {
		   fr = new FileReader();
		   fr.readAsBinaryString(file);
		   
		   const buf = buffer.Buffer(fr.result)

		   console.log("file",buf)
			
			

		   //const node = await window.Ipfs.create({ repo: 'ipfs-' + Math.random() })
		  //const node= window.IpfsApi('localhost', 5001)
		  //const ipfs = window.IpfsApi({ host:'ipfs.infura.io', port: '5001', protocol: 'http' })
		  const node = window.IpfsHttpClient({ host: 'ipfs.infura.io', port: 5001, protocol: 'https' })
			window.node =node;

			
		
		const inputFile=await node.add(buf);

		console.log(inputFile.cid);
		console.log(inputFile.cid.multihash)

		
		const data = await (node.cat(inputFile.cid.string));
         try{
				console.log("fu",data.toString())
				
		 }
		 catch(err){
			 console.log(err);
		 }
	
		
		

		
		/*,(err,result)=>{

		 if(err)
		 {
			 console.log(err);
		 }
		 else{
			 console
			re.on('data', (file) => {
				var invoiceURL = "https://ipfs.io/ipfs/"+file.path;
				console.log("inv",invoiceURL);
			  })
		 }
			*/
			
  
    }
};


  </script>

</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<img src="../public/img/KYC-Chain.png">
	</div>
	
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="page-scroll" href="/">Home</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
	
</div>
<!-- /.container -->
</nav>

<form  name="IntelitixForm" method="post" action="/Admindetail" enctype="multipart/form-data">
<div class="container container_body">
	<div class="row">
		
		<div class="col-md-4 center-block">
			<div class="panel panel-info">
				<div class="panel-heading" style="background-color: #333833">
					<h3 class="panel-title">Add Driving Licence Details</h3>
				</div>
				<div class="panel-body">

					<div class="form-group">
						<label class="control-label" >Driving Licence No.</label>
						<input class="form-control" name="txtLicenceNo" id="txtLicenceNo" type="string"  placeholder="Licence No.">
					</div>
					<div class="form-group">
						<label class="control-label" >Name as per Driving Licence</label>
						<input class="form-control" name="txtFullName" id="txtFullName" type="text"  placeholder="Name">
					</div>
					<div class="form-group">
						<label class="control-label" >DOB as per Driving Licence</label>
						<input class="form-control" name="txtDOB" id="txtDOB" type="text"  placeholder="DD/MM/YYYY">
					</div>
					<div class="form-group">
						<label class="control-label" >Address as per Driving Licence</label>
						<textarea class="form-control" rows="4" name="txtAddress" id="txtAddress" placeholder="Address here ..."></textarea>
					</div>
					<div class="form-group">
						<label class="control-label" >Attach Driving Licence</label>
						<input type="file" name="invoicefile" id="invoicefile" accept="image/*">
					</div>

					<div class="form-group">
						<label class="control-label" >Your Blockchain Id</label>
						<input class="form-control" name="coinacc" id="address" type="text" value=""  placeholder="your blockchain address" readonly>
					</div>
						
						
					
					<div class="aligncenter">
						<input type="submit" class="btn btnsm btn-primary" value="Add Driving Licence">
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>


</form>



<script src="../public/js/jquery.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/sweet-alert.min.js"></script>

</body>
</html>